.question {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0px;
-webkit-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
font-smoothing: antialiased;
margin-bottom: 5px;
color: rgba(255,255,255, 1);
}

.answer {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
-ms-font-smoothing: antialiased;
font-smoothing: antialiased;
color: rgba(255,255,255, 0.9);
}