@import  "faq.css";

/* ---------------------------------------------- /*
 * Programmes
/* ---------------------------------------------- */

#page-macomm .slide-description {
	width: 80%;
	margin: 0 auto 15px auto;
}

#section1 {
	padding-top: 30px;
}

#section2, #section3, #section4, #section6 {
    padding-top: 120px;
    z-index: 100;
}

#section5 {
	padding-top: 100px;
}
/* MACOMM Section */
#page-macomm #section5 {
	padding-top: 80px;
}

#page-macomm #section6 {
	padding-top: 0px;
}

/* MAIJS Section */
#page-maijs #prog-Admissions {
	min-height: 980px;
}
#page-maijs #section4, #page-maijs #section5 {
	padding-top: 60px;
}

/* MMGT Section */
#page-mmgt #prog-Programme {
	min-height: 720px;
}

#page-mmgt #prog-Curriculum {
	min-height: 620px;
}

#page-mmgt #section4 {
	padding-top: 0px;
}

#page-mmgt #section5 {
	padding-top: 60px;
}

#page-mmgt #section6 {
	padding-top: 160px;
}

/* MAFTNM Section */
#page-maftnm #section4 {
	padding-top: 0px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.progheader .slide-description {
	text-shadow: none;
}

#prog-Director {
    min-height: 700px;
    color: #666;
    padding-top: 60px;
    padding-bottom: 60px;
}
.photo-director {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 225px;
    width: 160px;
    margin-bottom: 25px;
    float: left;
    margin-right: 10px;
}
#page-mmgt .photo-director {
    height: auto;
    width: 105px;
}
.ma-title {
    font-family: 'Montserrat',sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-shadow: none;
	width: 100%;
	margin: 0 auto 15px auto;
}
.ma-title:lang(zh-hant) {
    /*font-family: 'cwTeXHei', sans-serif;*/
	font-family: 'Noto Sans TC', sans-serif;
}
.prog-title-bk {
    color: #666;
    margin-top: -5px;
}
.block {
    position: relative;
}
.prog-title {
    color: #fff;
}
#prog-Programme {
    min-height: 620px;
}
.abtProg_description {
    width: 80%;
    height: auto;
    padding: 30px 150px 40px 70px;
    background-color: #828282;
    position: absolute;
    top: 60px;
    left: 0;
    color: rgba(255,255,255,1);
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}
.abtProg_hImage {
    width: 350px;
    height: 200px;
    background-color: #999;
    position: absolute;
    right: 0;
}
.abtProg_vImage {
    width: 240px;
    height: 280px;
    background-color: #ececec;
    position: absolute;
    top: 240px;
    right: 5%;
}

#prog-Curriculum {
    min-height: 600px;
}

.curriculum_description {
    width: 70%;
    min-height: 360px;
    padding: 15px 30px 40px 150px;
    background-color: #828282;
    position: absolute;
    top: 80px;
    right: 10%;
    color: rgba(255,255,255,0.9);
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}
.curriculum_hImage {
    width: 340px;
    height: 220px;
    background-color: #999;
    position: absolute;
    top: 30px;
    left: 0;
}
.curriculum_vImage {
    width: 245px;
    height: 270px;
    background-color: #ececec;
    position: absolute;
    top: 280px;
    left: 8%;
}
#prog-Staff {
    min-height: 600px;
}
#prog-Staff .container {
    max-width: 100%;
}
.staff-title {
	margin-bottom: 40px;
}
.abtProg_description li, .curriculum_description li, .requirments_description li {
	list-style: disc;
    list-style-position: inside;
    text-indent: -12px;
	padding-left: 12px;
}
.list-alphabet {
    list-style: lower-alpha !important;
    text-indent: 0 !important;
}
#staff-data {
    padding-top: 160px;
    padding-bottom: 60px;
}
ul.staff-bio,ul.app-doc {
    list-style: disc;
    -webkit-padding-start: 20px;
    width: 100%;
}

.staff-bio li {
    margin-bottom: 10px;
    color: #777;
    display: list-item;
}
.profile {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #666;
    padding: 0 20px;
    letter-spacing: 1px;
    margin-bottom: 60px;
    -webkit-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.profile-image {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.profile-desc {
    min-height: 100px;
    height: 100px;
    margin-top: 3px;
}
.staff-post {
    font-size: 13px;
    margin-bottom: 0;
    line-height: 14px;
}
.staff-details {
    font-size: 12px;
    margin-bottom: 0;
}

#prog-Admissions {
    min-height: 920px;
}
.requirments_description {
    width: 80%;
    height: auto;
    padding: 15px 30px 40px 150px;
    background-color: #828282;
    position: absolute;
    top: 80px;
    right: 0;
    color: rgba(255,255,255,1);
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}
.requirments_hImage {
    width: 320px;
    height: 200px;
    background-color: #999;
    position: absolute;
    top: 420px;
    left: 15px;
}
.requirments_vImage {
    width: 220px;
    height: 280px;
    background-color: #ececec;
    position: absolute;
    margin-top: 120px;
    left: 8%;
}
#prog-FAQ {
    min-height: 620px;
}
.abtProg_faq {
    width: 100%;
    padding: 30px 50px 40px 50px;
    background-color: #828282;
    color: rgba(255,255,255,0.9);
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 160px;
}
.question {
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: 600;
}

#page-macomm #prog-Programme {
    min-height: 820px;
}
.Prog_Image, .progheader{
		display:none;
}
.content-sub-title {
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-shadow: none;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
    margin-top: 30px;
    margin-bottom: 25px;
}
#prog-FAQ a, #prog-FAQ a:focus {
    color: rgba(255,255,255,0.9);
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255,255,255,0.9);
}
	/* MAIJS */
	#page-maijs .ma-title {
		line-height: 42px;
	}
	#page-maijs .slide-description {
		width: 80%;
		margin: 0 auto;
	}

/* Custom, Faculty & Staff ===========================================================*/
@media only screen 
and (min-width : 1201px) 
and (max-width : 1300px) 
 {
	
	.carousel-control.left {
		left: -15px;
	}
	
	.carousel-control.right {
		right: -15px;
	}
	
	.carousel-control.left:hover {
		left: -20px;
	}
	
	.carousel-control.right:hover {
		right: -20px;
	}

 }

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.Prog_Image{
		display:block;
	}
	.requirments_vImage, .curriculum_vImage, .abtProg_vImage-macomm, .abtProg_vImage,
	.requirments_hImage, .curriculum_hImage, .abtProg_hImage-macomm, .abtProg_hImage{
		display:none;
	}
	.block {
		position: static;
	}
	.abtProg_description, .curriculum_description, .requirments_description {
		width: 100%;
		position: static;
	}
	#prog-Admissions {
		margin-left: 0px;
	}
	.abtProg_description, .curriculum_description, .requirments_description {
		padding: 30px 50px 40px 70px;
	}
	#prog-Curriculum .container, #prog-Programme .container, #prog-Admissions .container, #prog-FAQ .container{
		padding-right: 0;
		padding-left: 0;
	}
	.progheader{
		display:block;
		position: relative;
	}
	.block {
		position: static;
	}
	.abtProg_description, .curriculum_description, .requirments_description {
		width: 100%;
		position: static;
	}
	#prog-Admissions {
		margin-left: auto;
	}
	.abtProg_description, .curriculum_description, .requirments_description {
		padding: 20px 50px 30px 50px;
	}
	#prog-Curriculum {
		 min-height:0;
	}
	.in-image-content {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		position: absolute;
		bottom: 24%;
	}
	.btn-prog {
		border: 1px solid #fff;
		background-color: rgba(0,0,0,0);
		padding: 5px 10px;
		font-size: 13px;
	}
	.btn-prog:hover {
		background-color: #fff;
		color: #006ecd;
		border: 1px solid #fff;
	}
	.prog_in-slide-content {
		margin: 0 auto;
		padding: 25px 0 30px 0;
		text-align: center;
	}
	.prog_in-slide-content p{
		width: 80%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}	
	#top-slides{
		display:none;
	}
	.scroll-down {
		display: none;
	}
	.carousel-control.left {
	left: -25px;	
	}
	.carousel-control.right {
	right: -25px;	
	}
	.carousel-control.left:hover {
	left: -30px;	
	}
	.carousel-control.right:hover {
	right: -30px;	
	}
	
	/* MACOMM */
	#page-macomm .prog_in-slide-content {
		background-color: #006ecd;
	}
	#page-macomm #section4 {
	padding-top: 0px;
	}
	/* MAIJS */
	#page-maijs .ma-title {
		line-height: 42px;
	}
	#page-maijs .in-image-content {
		bottom: 30%;
	}
	#page-maijs .prog_in-slide-content {
		background-color: #00dc73;
	}
	#page-maijs .slide-description {
		width: 90%;
		margin: 0 auto 15px auto;
	}
	#page-maijs .btn-prog:hover {
		color: #00dc73;
	}
	/* MMGT */
	#page-mmgt .prog_in-slide-content {
		background-color: #fc377e;
	}
	#page-mmgt .btn-prog:hover {
		color: #fc377e;
	}
	#page-mmgt #section5 {
	padding-top: 0px;
	}
	#page-mmgt #section6 {
	padding-top: 80px;
	}
	/* MAFTNM */
	#page-maftnm .ma-title {
		line-height: 42px;
	}
	#page-maftnm .prog_in-slide-content {
		background-color: #ffb100;
	}
	#page-maftnm .in-image-content {
		bottom: 28%;
	}
	#page-maftnm #prog-Programme {
		min-height: inherit;
	}
	#page-maftnm .btn-prog:hover {
		color: #ffb100;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
		
	.in-image-content {
		bottom: 26%;
	}
	.scroll-down {
		bottom: 260px;
	}
	#section1, #section2, #section3, #section5, #section6 {
		padding-top: 50px;
	}
	.carousel-control.left {
	left: -15px;	
	}
	.carousel-control.right {
	right: -15px;	
	}
	.carousel-control.left:hover {
	left: -20px;	
	}
	.carousel-control.right:hover {
	right: -20px;	
	}
	
	.curriculum_description {
		min-height: inherit;
	}
	
	/* MACOMM */
	#section6 {
		padding-top: 80px !important;
	}
	
	/* MMGT */
	#page-mmgt #section5 {
	padding-top: 60px;
	}
	
	/* MAIJS */
	#page-maijs .in-image-content, #page-mmgt .in-image-content, #page-maftnm .in-image-content {
		bottom: 32%;
	}
	
	/* MAFTNM */
	
	#page-maftnm .in-image-content {
		bottom: 35% !important;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.sub-title {
		font-size: 12px;
	}
	.ma-title {
		font-size: 32px;
		line-height: 32px !important;
	}
	.in-image-content {
		bottom: 38% !important;
	}
	#prog-Programme, #page-macomm #prog-Programme, #page-maijs #prog-Admissions, #page-mmgt #prog-Programme, #page-mmgt #prog-Curriculum, #prog-Curriculum {
	min-height: inherit;	
	}
	/* MAFTNM */
	#page-maftnm .ma-title {
		width: 85%;
		margin: 0 auto;
	}
	#page-maftnm .in-image-content {
		bottom: 42% !important;
	}
	/* MAIJS */
	#page-maijs .in-image-content {
		bottom: 40% !important;
	}
}
/* Small Devices, Tablets */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px),
{
	 .container {
		width: 750px;
	}
	.section .container {
		padding-right: 0;
		padding-left: 0;
	}
	.requirments_vImage, .curriculum_vImage, .abtProg_vImage-macomm, .abtProg_vImage,
	.requirments_hImage, .curriculum_hImage, .abtProg_hImage-macomm, .abtProg_hImage{
		display:none;
	}
	.Prog_Image{
		display:block;
	}
	.progheader{
		display:block;
		position: relative;
	}
	
	.block {
		position: static;
	}
	.abtProg_description, .curriculum_description, .requirments_description {
		width: 100%;
		position: static;
	}
	#prog-Admissions {
		margin-left: auto;
	}
	.abtProg_description, .curriculum_description, .requirments_description {
		padding: 20px 50px 30px 50px;
	}
	#prog-Curriculum {
		 min-height:0;
	}
	.in-image-content {
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		position: absolute;
		bottom: 35%;
	}
	.prog_in-slide-content {
		color: #333;
		background-color: #fc377e;
		font-family: 'Roboto', sans-serif;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		bottom: 15%;		
		max-width: 1170px;
		z-index: 0;
		text-shadow: 0 1px 0 #fff;
		display: block;
	}
	.prog_in-slide-content p{
		width: 65%;
		left: 0;
		right: 0;
		padding-top:10px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.btn-msocsc {
		border: 1px solid #fff;
	}
	#top-slides{
		display:none;
	}
	.scroll-down {
		bottom: 240px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
	.btn-msocsc {
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.ma-title {
        font-size: 24px !important;
		line-height: 24px !important;
		width: 85%;
    }
	#section1, #section2, #section3, #section5 {
		padding-top: 50px !important;
	}
	#section6 {
		padding-top: 30px !important;
	}
	.in-image-content {
		bottom: 42%;
	}
	.prog_in-slide-content {
		padding: 15px 0 20px 0;
	}
	.prog_in-slide-content p{
		font-size: 14px;	
	}
	.prog-title {
		font-size: 21px;	
		margin-bottom: 15px;
	}
	.prog-title-bk {
		font-size: 26px;
	}
	.content-sub-title {
    font-size: 14px;
    line-height: 15px;
    margin-top: 20px;
    margin-bottom: 15px;
	}
	.abtProg_description, .curriculum_description, .requirments_description, .abtProg_faq {
		font-size: 13px;
		line-height: 17px;
		padding: 5px 25px 15px 25px;
	}
	#prog-Admissions {
    	min-height: inherit;
	}
	.abtProg_faq {
		margin-bottom: 80px;
	}
	.question {
		font-size: 13px;
		text-indent: -15px;
		padding-left: 15px;
	}
	.answer {
		font-size: 13px;
		padding-left: 15px
	}
	#page-maftnm .in-image-content, #page-maijs .in-image-content, #page-mmgt .in-image-content , #page-macomm .in-image-content {
		bottom: 48% !important;
	}
	
	/* MMGT */
	#page-mmgt #section5 {
	padding-top: 0px;
	}
	
	/* MAIJS */
	#page-maijs .slide-description {
		width: 85%;
	}

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
}

